__pycache__/
*.py[cod]
*.pyc
instance/
.venv/
venv/
env/
.env
*.db
static/uploads/avatars/*
static/uploads/projects/*
static/uploads/certificates/*
!static/uploads/avatars/.gitkeep
!static/uploads/projects/.gitkeep
!static/uploads/certificates/.gitkeep
.idea/
.vscode/
*.swp
.DS_Store